.header{
    height: 150px;
    width: 960px;
    display: block;
    position: fixed;
    margin: 0 auto;
    left: 0;
    right: 0;
    background-color:#ffffff;
    border-bottom: solid #cccccc 5px;
    z-index: 100;
    top: 0;
}

#tbhindheader{
    height: 150px;
    width: 100%;
    background-color: white;
    z-index: 1;
    position: fixed;
    margin: 0;
    top: 0;
    left: 0;
}

body{
    background-image: url("../images/folk-pattern.png")
}

h1{
    position: absolute;
    margin-bottom: 0px;
    bottom: 0;
    background-color: #4aaaa5
}

.navLinks{
    position: absolute;
    margin-bottom: 0px;
    bottom: 0;
    margin-right: 0px;
    right: 0;
}

.contentbox{
    margin: 200px auto;
    width: 960px;
    display: block;
    background-color: white;  
}

#aboutMe{
    border-bottom: lightgray solid 5px;
}

#photoMe{
    width: 25%;
    float: left;
    margin-right: 5px;
}
#bio{
    text-align: left;
    display: inline-block;
    overflow-wrap: break-word;

}
