.header{
    height: 150px;
    width: 960px;
    display: block;
    position: fixed;
    margin: 0 auto;
    left: 0;
    right: 0;
    background-color:#ffffff;
    border-bottom: solid #cccccc 5px;
    z-index: 100;

}

h1{
    position: absolute;
    margin-bottom: 0px;
    bottom: 0;
    background-color: #4aaaa5
}

.navLinks{
    position: absolute;
    margin-bottom: 0px;
    bottom: 0;
    margin-right: 0px;
    right: 0;
}

.contentbox{
    margin: 400px auto 0px;
    width: 960px;
    display: block;
}
